{% extends 'pages/base.html' %}
{% load static %}

{% block title %}
LIST OF ORDER
{% endblock title %}

{% block content %}
{% for a in list_order %}
<section class="sample-text-area">
	<div class="container">
		<div class="section-border">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="row">
							{% comment %} <div class="col-md-4" style="padding: 30px;">
							    <a href="img/elements/g1.jpg" class="img-gal"><img src="img/elements/g1.jpg" width="100%"></a>
							</div> {% endcomment %}
							<div class="col">
								<div class="card-body">
									<form class="row g-3" method='POST'>
                                        {% csrf_token %}
										<div class="col-6">
											<label class="form-label">Name : </label>
											<label class="form-label">{{a.dame}}</label>
										</div>
                                        <div class="col-6">
											<label class="form-label">Order ID : </label>
											<input class="form-label" name="order_id" value="{{a.id}}" type="hidden">
                                            <label class="form-label">{{a.id}}</label>
										</div>
                                        <div class="col-md-6">
                                            <label class="form-label">Form : </label>
                                            <label class="form-label">{{a.from_desti}}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">To : </label>
                                            <label class="form-label">{{a.to_desti}}</label>
                                        </div>                              
                                        <div class="col-12">
                                            <label class="form-label">Date : </label>
                                            <label class="form-label">{{a.date_to}}</label>
                                        </div>
                                        <div class="col-md-6">										
                                            <select class="formselect mt-10" name="order_status">
                                            <option class="selectoption" selected >{{a.order_status}}</option>
                                            <option class="selectoption">Pending</option>
                                            <option class="selectoption">Success</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-dark mt-10"> Apply </button>
                                        </div>
                                    </form>
								</div>
							</div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endfor %}
{% endblock content %}