<header id="header">
		  		<div class="header-top">
				</div>
			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
			    		<a href="index.html"><h2><font color="white">BASUCAB</font></h2></a>		
						<nav id="nav-menu-container">
							<ul class="nav-menu">
							  <li class="menu-active"><a href="/">Home</a></li>
							  <li><a href="{% url 'about' %}">About</a></li>
							  <li><a href="{% url 'service' %}">Services</a></li>
							  <li><a href="{% url 'gallery' %}">Gallery</a></li>							  			          	          
							  <li><a href="{% url 'contact' %}">Contact</a></li>
							  {% if user.is_authenticated %}
							  {% if request.user.is_staff %}
							  <li><a href="{% url 'caborder' %}">Your Order</a></li>
							  {% else %}
							  <li><a href="{% url 'booktaxi' %}">Book Taxi</a></li>
							  <li><a href="{% url 'customer' %}">Your Order</a></li>
							  {% comment %} <li><a href="{% url 'listdriver' %}">listdriver</a></li> {% endcomment %}
							  {% endif %}
							  {% endif %}
							  {% if user.is_authenticated %}
								<li><a href="#">Hello {{user.username}}</a></li>
								<li><a href="{% url 'logout' %}">Logout</a></li>
							  {% else %}
							  <li><a href="{% url 'login' %}">Login</a></li>
                              <li><a href="{% url 'signup' %}">Sign Up</a></li>
							  {% endif %}
							</ul>
						</nav><!-- #nav-menu-container -->		
			    	</div>
			    </div>
			  </header>